-----BEGIN CERTIFICATE-----
MIIDgTCCAmmgAwIBAgIJAKlBVvPQyr2pMA0GCSqGSIb3DQEBCwUAMFcxCzAJBgNV
BAYTAnVrMQ0wCwYDVQQIDAR0ZXN0MQ0wCwYDVQQHDAR0ZXN0MQ0wCwYDVQQKDAR0
ZXN0MRswGQYDVQQDDBJnY3Atdm0tMS5sb2NhbC5uZXQwHhcNMTkwODEwMTI0NDIy
WhcNMjAwODA5MTI0NDIyWjBXMQswCQYDVQQGEwJ1azENMAsGA1UECAwEdGVzdDEN
MAsGA1UEBwwEdGVzdDENMAsGA1UECgwEdGVzdDEbMBkGA1UEAwwSZ2NwLXZtLTEu
bG9jYWwubmV0MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAynsRN7fw
fpn19RqKUZx8eZeZQMIfzFvhezGno1YmENk8fZR//50MB4xMaisDurKKnhUXUTaV
c6acw0MjQbQ+R7ZQCZBiFB2JlapOZ3mtDU+lKLWwZL7+uWaslO2SA6EgXTr08o+3
LZCU3pVk5DWDw7ElDri2HShSzBZaWEqDCmkobk223eKsl8grpJUBrbfJnqpJ/AUT
PJgQWaoS7rLXDxc7lMOQf9zfuKJUfk/AlksLVKeR33qPXw4lYmcb2xQDMwkyqaNp
xFfpngOQl8WZHeTQaoffYwTCYskxHQNEbA4pH3tsKUHHpN0t5UG6OkH/+a+ZMfL0
TQvJuWwhJgR8rwIDAQABo1AwTjAdBgNVHQ4EFgQUVHDuSH7onI2h7tXn48iD8Qrj
UdwwHwYDVR0jBBgwFoAUVHDuSH7onI2h7tXn48iD8QrjUdwwDAYDVR0TBAUwAwEB
/zANBgkqhkiG9w0BAQsFAAOCAQEApdJg12rSw+z+0GrPwdi/Tay3A8gV7M65yYJK
bk04jQbpHOd3OcM2oJOQjTQEp400hdO0aXY0UZ6LwMSfLrbD3IlPSmV3E4anOxi2
I0PVoSHa2ZsVQNWn430VPdG6qT1DB+/s2Pt9/zMQg9Z3LObP5sogjm83yvx4NVG8
NU9jyd1WASoZVsXXUYHivxHEnt0+xU9dq04S4F0XF9+a+CmVwWzDSfWGtoe8OUnR
w6eQIGkpMm7glecAQAy7gH/6/QlosL4kuT+AtsOTTaUiTOKKtav++QiT9aPi1ZeP
L7Qa5ch33RE4REyjFUNzACY36jvmkKP05uUjNZZeZFv0CIGi8g==
-----END CERTIFICATE-----
