[Unit]
Description=Remote desktop service (VNC)
After=syslog.target network.target

[Service]
Type=simple
User={{ hostvars[inventory_hostname].username }}
Environment=DISPLAY=:1
ExecStart=/bin/bash "/opt/start_script_1.sh"

[Install]
WantedBy=multi-user.target
