body {
   transform: scale(1.0);
   transform-origin: top left;
   font-size: 18px
}
input {
    padding:3;
    margin:0;
    font-size: 14px
}
select {
    padding:3;
    margin:0;
    font-size: 9px
}
.ndb {
   transform: scale(0.9);
   transform-origin: top left;
   font-size: 18px
}
